<div class="row well tableRow">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="searchBox">
			<label class="searchBox green" for="search"><span class="glyphicon glyphicon-search"></span> Search Auctions:</label>
			<input class = "searchInput" type="text" ng-model="sortByName">
		</div>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Item</th>
		      <th>User Name</th>
		      <th>Initial Bid</th>
		      <th>Highest Bid</th>
		      <th>Bid By</th>
		      <th>Expiration</th>

		    </tr>
		  </thead>
		  <tbody>
		    <tr class="orange" ui-sref="details({id: auction._id})" ng-click="getThisAuction(auction)" ng-repeat="auction in auctions | filter: sortByName">
		      <td><img class="itemImage img-responsive" ng-src="{{auction.itemImage}}" width="75" alt=""></td>
		      <td>{{auction.item}}</td>
		      <td>{{auction.username}}</td>
		      <td>{{auction.initialBid | currency}}</td>
		      <td>{{auction.highestBid.value | currency}}</td>
		      <td>{{auction.highestBid.user}}</td>
		      <td>{{auction.exp | date: "MM/dd/yyyy 'at' h:mma"}}</td>
			</tr>
		  </tbody>
		</table>
	</div>
</div> <!-- end well -->